* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    background-color: darkslategray;
    padding-top: 110px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

header img {
    height: 38px;
    margin-right: 16px;
}

header h1 {
    font-size: 28px;
    font-weight: bold;
}

form {
    display:inline-flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 18px;
}

form input {
    font-size: 14px;
    padding: 4px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
}

form button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 8px;
    color: #000;
    background-color: brown;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(165, 42, 42, 0.8);
}

table {
    width: 100%;
    justify-content: space-between;
}

table thead th, tfoot th {
    padding: 16px;
    text-align: center;
    border-bottom: 2px solid gray;
    font-size: 18px;
    font-weight: bold;
}

table tfoot th {
    border-top: 2px solid gray;
    border-bottom: none;
}

table td{
    color: whitesmoke;
    padding: 16px;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
